@charset "UTF-8";

#top2 { /* 회원관련메뉴영역 */
	width: 300px;
	height: 20px;
	position: fixed;
	top: 10px;
	right: 130px;
}

.ltop2 {
	list-style: none;
	float: left;
	display: inline;
	border-left: 1px solid black;
	top: 200px;
	left: 350px;
	font-size: 15px;
	color: black;
	/* 테두리와 메뉴 간격 벌리기. padding: 위 오른쪽 아래 왼쪽; */
	padding: 0px 10px 0px 10px;
	/* 메뉴와 테두리 사이 간격 벌리기. margin: 위 오른쪽 아래 왼쪽; */
	margin: 5px 0px 5px 0px;
}

.ltop2:first-child {
	border-left: none;
}

.ltop2:hover { /*마우스올렸을때 효과*/
	text-decoration: underline;
}

.atop2 {
	color: black;
	text-decoration: none;
}

#top3 { /* 장바구니아이콘 */
	width: 30px;
	height: 30px;
	position: fixed;
	top: 25px;
	right: 130px;
}

#top3:hover {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 25px;
	right: 130px;
	background: #FFBF00;
}

#top4 { /* 로고이미지 */
	width: 180px;
	height: 180px;
	position: fixed;
	top: 0px;
	right: 800px;
}

#top { /* 메뉴바영역 */
	width: 950px;
	height: 60px;
	position: fixed;
	top: 125px;
	left: 220px;
}

.ltop {
	list-style: none;
	float: left;
	font-size: 20px;
	font-weight: BOLD;
	color: #FF8200;
	margin: 30px;
}

.ltop:hover { /*마우스올렸을때 효과*/
	text-decoration: underline;
}

.atop {
	color: #FFBF00;
	text-decoration: none;
}

#top5 { /* 메뉴바 하단 구분선 */
	background: #FFBF00;
	width: 1900px;
	height: 5px;
	top: 220px;
	right: 0px;
	position: fixed;
}

#center {
	/* background: gray; */
	width: 1500px;
	height: 1500px;
	position: relative;
	top: 250px;
	left: 250px;
	font-size: 15px;
}
#center1 {
	/* background: gray; */
	width: 1500px;
	height: 1500px;
	position: relative;
	top: 250px;
	left: 250px;
	font-size: 10px;
}


#footer1 { /* 하단 홈페이지정보 구분선 */
	background: gray;
	width: 1500px;
	height: 3px;
	top:300px;
	left: 250px;
	position: relative;
}
#footer2 { /* 홈페이지정보_왼쪽 */
	width: 700px;
	height: 200px;
	top: 300px;
	left: 250px;
	position: relative; 
	color: gray;
}
#footer3 { /* 홈페이지정보_오른쪽 */
	width: 700px;
	height: 200px;
	top: 110px;
	left: 1000px;
	position:relative;
	color: gray;
}



